
.owl-button {
  position: fixed;
  z-index: 80; /* github hover cards are 100 */
  top: 10%;
  left: 0;
  padding: 0.5rem;
  border: none;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;

  background-color: #9333ea; /* purple-600 */

  transform: translateX(-100%);
}

.owl-button:hover {
  background-color: #6d28d9; /* purple-700 */
}

.owl-button-text {
  color: white;
  writing-mode: tb;
  transform: rotate(180deg);
  font-weight: 600;
  font-size: 1.1rem;
}

.owl-drawer {
  position: fixed;
  z-index: 80;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #f9fafb;
  box-shadow: rgb(0 0 0 / 64%) 0px 10px 20px;

  transition: transform 0.3s ease-in-out;
}

.owl-draggable-wall {
  position: fixed;
  z-index: 90;
  top: 0;
  width: 2px;
  height: 100%;
  opacity: 0.5;
  background-color: gray;
  cursor: ew-resize;
  transition: padding 0.3s ease-in-out;
}

.owl-draggable-wall:hover {
  padding-right: 4px;
}

.owl-draggable-wall:active {
  width: 100%;
  opacity: 0.01;
  transition: none;
}

.owl-iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.owl-translate-x-0 {
  transform: translateX(0);
}

.owl-translate-x-full {
  transform: translateX(100%);
}
