* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

button:focus,
button:active {
  outline: none;
}

.owl-drawer {
  position: fixed;
  z-index: 80;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 90vw;

  background-color: #f9fafb;
  box-shadow: rgb(0 0 0 / 25%) 0px 5px 10px;

  transition: transform 0.3s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.owl-btn-container {
  position: fixed;
  /* github hover cards are z-index: 100 */
  z-index: 80;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  transform: translateX(-100%);
  overflow: hidden;
  min-width: fit-content;

  border: 1.5px solid rgb(0, 0, 0, 0.04);
  border-right: none;
  border-radius: 8px 0px 0px 8px;
}

.owl-btn {
  writing-mode: vertical-rl;

  padding: 16px 4px;

  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;

  background-color: white;
  border: none;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transform: rotate(180deg);
}

.owl-btn:hover {
  background-color: #f4f4f4;
}

.owl-drag-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  padding: 6px 4px;
  cursor: grab;
  border-top: 1px solid rgb(0, 0, 0, 0.05);
  color: rgb(0, 0, 0, 0.2);
}

.owl-drag-handle:hover {
  color: rgb(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
  .owl-btn-container {
    border: 1.5px solid rgb(255, 255, 255, 0.04);
    background-color: #1f2937;
  }

  .owl-btn {
    background-color: #1f2937;
    color: white;
  }

  .owl-btn:hover {
    background-color: #374151;
    color: white;
  }

  .owl-drag-handle {
    color: rgb(255, 255, 255, 0.2);
    border-top: 1px solid rgb(255, 255, 255, 0.05);
  }

  .owl-drag-handle:hover {
    color: rgb(255, 255, 255, 0.4);
  }
}

/* Iframe */
.owl-iframe {
  width: 100%;
  height: 100%;
}

/* Transform Classes */
.owl-translate-x-0 {
  transform: translateX(0);
}

.owl-translate-x-full {
  transform: translateX(100%);
}
